$color-black: #0b090a;
$color-black-light: #161a1d;
$color-red-light: #e5383b;
$color-red-dark: #660708;
$color-red-dark-2: #a4161a;
$color-violet-light: #ffc6ff;
$color-grey-light: #d3d3d3;
$color-grey-light-2: #f1eeee;
$color-grey-dark: #b1a7a6;
