.aside-nav-list-skeleton {
  list-style: none;
}
.aside-nav-item.skeleton {
  height: 1.5rem;
  margin: 1rem 0;
}
.aside-header-text.skeleton {
  height: 1.8rem;
  width: 80%;
  margin-bottom: 2rem;
}
